extends layout 
block content
    h1 Course Details for  #{theCourse.id}
    div(class="row")
        div(class="col-md-9")
            img(src=theCourse.imageUrl width="100%")
        div(class="col-md-3")
            h2= theCourse.title
            p ₹. #{theCourse.price} 
            p= theCourse.trainer
            p= theCourse.description

    